<!DOCTYPE html>
<html>
	<head>
	  <title>{{ page.title }}</title>
	  <!-- link to main stylesheet -->
	  <link rel="stylesheet" type="text/css" href="/css/main.css">
	  <link rel="shortcut icon" type="image/x-icon" href="/wallstreetbull.ico">
	</head>
	<body>
	  <nav>
            <h1>顾子锐 Gu Zirui</h1>
	    <ul>
	      <li><a href="/">个人主页</a></li>
	      <li><a href="/education/">教育经历</a></li>
	      <li><a href="/investment/">投资理念</a></li>
	      <li><a href="/contact/">联系方式</a></li>
	    </ul>
	  </nav>
	  <div class="container">

	    {{ content }}

	  </div><!-- /.container -->
	  <footer>
	    <ul>
	      <li><a target="_blank" href="https://github.com/guzirui">github.com/guzirui</a></li>
	    </ul>
	  </footer>
	</body>
</html>
